{% extends "base.html" %}

{% block title %}
<br>
	Leaderboard
{% endblock %}


{% block content %}

<p></p>
<table>
    <tr>
    	{% for result in results %}
			<td>{{ result|safe }}</td>
		{% endfor %}
	</tr>
</table>

<br>
<h3> Recent Games </h3>
<table>
    <tr>
	{% for recent in recents %}
	    <td>{{ recent|safe }}</td>
	{% endfor %}
	</tr>
</table>

<form action="" method="post">
	<br>
	<h3>Player Game History</h3>
	<p>	
		<select name= player  value= "test" method="GET" action="/">
    	{% for player in players %}
    		<option SELECTED>
    			{{player}}
    		</option>"
    	{% endfor %}
    	<option disabled selected value>Select Player</option>
		</select>
		<input type = "submit" value = "submit"/>
	</p>
</form>

{% endblock %}